<div class="container">
  <header class="container__header">
    <h5 class="heading__5">Send Money to Mobile Phone</h5>
    <i class="fa fa-ellipsis-h"></i>
  </header>
  <div class="card">
    <mat-form-field appearance="outline">
      <ngx-mat-intl-tel-input
        [preferredCountries]="['ng', 'gb']"
        [enablePlaceholder]="true"
        [enableSearch]="true"
        name="phone"
        #phone
      >
      </ngx-mat-intl-tel-input>
    </mat-form-field>
    <div class="desc">
      <div class="desc--text">More than 140 countries listed</div>
      <div class="desc--icon">
        <i class="fa fa-info-circle"></i>
      </div>
    </div>
  </div>
</div>
