@import "../../../partials/variables";

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  &__header {
    display: flex;
    align-items: center;
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
    color: $color-text-grey-3;
    & > *:last-child {
      margin-left: auto;
    }
  }
}
.card {
  height: 100%;
  width: 100%;
  flex: 1;
  border-radius: 1rem;
  background: $background-color-light;
  box-shadow: $box-shadow;
  padding: 2rem;
}

.desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  color: $color-text-grey-3;
}
