<div class="main-container">
  <div class="nav-header">
    <app-user-header></app-user-header>
  </div>
  <div class="main-container__side-nav">
    <app-user-sidebar></app-user-sidebar>
  </div>
  <div class="main-container__body">
    <router-outlet></router-outlet>
  </div>
</div>
