@import "../../../partials/variables";
$nav-bar-height: 7rem;
$side-bar-width: 8rem;

.main-container {
  height: 100vh;
  &__side-nav {
    display: inline-block;
    width: $side-bar-width;
    background-color: $background-color-light;
    box-shadow: $box-shadow;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: $nav-bar-height;
    height: calc(100% - #{$nav-bar-height});
    z-index: 10;
    overflow-y: auto;
  }

  &__body {
    display: inline-block;
    margin-left: $side-bar-width;
    margin-top: $nav-bar-height;
    width: calc(100% - #{$side-bar-width});
    min-height: calc(100% - #{$nav-bar-height});
    background: $background-color-grey;
    overflow-y: auto;
  }
}

.nav-header {
  width: 100%;
  position: fixed;
  z-index: 100;
  height: $nav-bar-height;
  background-color: $background-color-light;
  box-shadow: $box-shadow;
}
