@import "../../../partials/variables";

$primary-color: #2d98ff;
$primary-secondary: #a54bff;

$color-text-dark-blue: #0b122e;
$color-text-grey-1: #3d4457;
$color-text-grey-2: #606675;
$color-text-grey-3: #c3c4cc;
$color-text-grey-4: #f9f9fa;

$background-color-grey: #f4f5f8;
$background-color-light: #ffffff;

$box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.05);

.container {
  min-height: 100%;
  padding: 4rem 8rem;
  margin: 0;
  margin-bottom: 4rem;
}

.header {
  margin-bottom: 4rem;
  & > *:not(:last-child) {
    margin-bottom: 1rem;
  }
  &--sub {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: $color-text-grey-3;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 45rem 1fr;
  grid-column-gap: 2rem;
}
.grid-container-1 {
  display: grid;
  grid-template-rows: 50rem 1fr;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}
.grid-container-2 {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 60rem 1fr;
  grid-template-rows: 18rem 18rem 1fr;
  grid-template-areas:
    "mobile person"
    "money-box person"
    "analytics analytics";
}

.send-money-mobile-container {
  grid-area: mobile;
}
.send-money-person-container {
  grid-area: person;
}
.money-box-container {
  grid-area: money-box;
}
.analytics-container {
  grid-area: analytics;
}

@media (max-width: 1024px) {
  .container {
    padding: 4rem 4rem;
  }
}

@media (max-width: 1000px) {
  .grid-container {
    grid-template-columns: unset;
    & > *:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
  .grid-container-1 {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 750px) {
  .grid-container-2 {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 630px) {
  .grid-container-1 {
    grid-template-columns: 50rem;
  }
  .grid-container-2 {
    grid-template-columns: 50rem;
    grid-template-rows: 18rem 18rem 1fr 1fr;
    grid-template-areas:
      "mobile"
      "money-box"
      "person"
      "analytics";
  }
}
@media (max-width: 460px) {
  .container {
    padding: 2rem 4rem;
    max-width: 50rem;
    margin: 0 auto;
  }
  .grid-container-1 {
    grid-template-columns: 40rem;
  }
  .grid-container-2 {
    grid-template-columns: 40rem;
  }
}
