<div class="container">
  <header class="header">
    <h4 class="heading__4">Dashboard</h4>
    <p class="header--sub">Welcome to Gringo Bank Plus</p>
  </header>
  <div class="grid-container">
    <div class="grid-container-1">
      <div class="my-cards-container">
        <app-my-cards></app-my-cards>
      </div>
      <div class="transactions-container">
        <app-transactions></app-transactions>
      </div>
    </div>
    <div class="grid-container-2">
      <div class="send-money-mobile-container">
        <app-money-to-mobile></app-money-to-mobile>
      </div>
      <div class="send-money-person-container">
        <app-money-to-person></app-money-to-person>
      </div>
      <div class="money-box-container">
        <app-money-box></app-money-box>
      </div>
      <div class="analytics-container">
        <app-analytics></app-analytics>
      </div>
    </div>
  </div>
</div>
