<div class="container">
  <header class="container__header">
    <h5 class="heading__5">Send Money to</h5>
    <i class="fa fa-cog"></i>
  </header>
  <div class="card" [class.is-relative]="isLoading">
    <app-global-loader
      *ngIf="isLoading; else content"
      [diameter]="40"
    ></app-global-loader>
    <ng-template #content>
      <div class="card__header">
        <div class="profile__container">
          <img
            *ngFor="let beneficiaryimg of beneficiaries?.images"
            src="{{ beneficiaryimg }}"
            alt="profile image"
            class="profile__img"
          />
          <!-- <img
            src="assets/img/profile-2.jpg"
            alt="profile image"
            class="profile__img"
          />
          <img
            src="assets/img/profile-3.jpg"
            alt="profile image"
            class="profile__img"
          />
          <img
            src="assets/img/profile-4.jpg"
            alt="profile image"
            class="profile__img"
          />
          <img
            src="assets/img/profile-5.jpg"
            alt="profile image"
            class="profile__img"
          /> -->
        </div>
        <div class="action">
          <div class="action__text">Open Contacts</div>
          <div class="action__btn">
            <i class="fa fa-long-arrow-right"></i>
          </div>
        </div>
      </div>
      <div class="card__body">
        <div class="select-box">
          <div class="select-box__icon">
            <img
              src="assets/icon/mc_symbol.svg"
              alt=""
              class="select-box__type-img"
            />
          </div>
          <select name="" id="" class="select-box__input">
            <option>Select a beneficiary</option>
            <option *ngFor="let accno of beneficiaries?.account_numbers">
              {{ accno }}
            </option>
          </select>
        </div>
        <div class="transaction">
          <div class="transaction__header">Amount</div>
          <div class="transaction__details">
            <div class="transaction__details--amount">1250.00</div>
            <div class="transaction__details--currency">USD</div>
          </div>
        </div>
      </div>
      <div class="card__footer">
        <button class="btn btn--primary btn--lg">Send Money</button>
      </div>
    </ng-template>
  </div>
</div>
