@import "../../../partials/variables";

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  &__header {
    display: flex;
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
    color: $color-text-grey-3;
    & > *:last-child {
      margin-left: auto;
    }
  }
}

.card {
  height: 100%;
  width: 100%;
  flex: 1;
  border-radius: 1rem;
  background: $background-color-light;
  box-shadow: $box-shadow;

  &__header {
    margin: 2rem;
    margin-bottom: unset;
    padding-bottom: 2rem;
    border-bottom: 1px solid $border-color-grey;
  }

  &__body {
    margin: 2rem;
    margin-bottom: unset;
    border-bottom: 1px solid $border-color-grey;
  }

  &__footer {
    padding: 2rem;
  }
}

.profile {
  &__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }

  &__img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
  }
}

.action {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: $color-text-grey-3;
  &__btn {
    margin-left: auto;
  }
}

.select-box {
  display: flex;
  align-items: center;
  background: $background-color-light;
  border: 1px solid $border-color-grey-1;
  font-size: 1.6rem;
  font-weight: 500;
  color: $color-text-grey-3;
  border-radius: 1rem;
  width: 100%;
  padding: 0.5rem 2rem;
  margin-bottom: 2rem;
  &__input {
    height: 4rem;
    background: unset;
    flex: 1;
    color: $color-text-dark-blue;
    font-family: "Poppins", sans-serif;
    border: none;
    outline: none;
  }
  &__type-img {
    height: 1.2rem;
  }
}

.transaction {
  margin-bottom: 2rem;
  &__header {
    font-size: 1.6rem;
    line-height: 1.6rem;
    color: $color-text-grey-3;
    margin-bottom: 1rem;
  }
  &__details {
    font-size: 1.8rem;
    font-weight: 500;
    color: $color-text-dark-blue;
    display: flex;
    align-items: center;
    &--amount {
    }
    &--currency {
      margin-left: auto;
      text-transform: uppercase;
    }
  }
}

@media (max-width: 1000px) {
  .profile__container {
    justify-content: unset;
    & > *:not(:last-child) {
      margin-right: 1.5rem;
    }
  }
}
