*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
*:focus {
  outline: unset;
}
html {
  box-sizing: border-box;
}

.btn {
  padding: 1rem 2.4rem;
  border: unset;
  box-shadow: unset;
  cursor: pointer;
  border-radius: 0.4rem;
  &--primary {
    background: $primary-color;
    color: $background-color-light;
  }
  &--lg {
    width: 100%;
  }

  &__icon {
    border: unset;
    cursor: pointer;
    box-shadow: unset;
    background: unset;
    height: 3rem;
    width: 3rem;
    border: 1px solid $border-color-grey-1;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    color: $color-text-grey-3;
    padding: unset;
    &--lg {
      height: 4rem;
      width: 4rem;
    }
  }
}

//SPINNER SETTINGS
.is-relative {
  position: relative;
}
.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: $primary-color;
}

//CSS FOR FLAG NPM LIBRARY
.country-selector {
  opacity: 1 !important;
  bottom: 8px !important;
}

input:not(.country-search) {
  bottom: 3px;
  left: 10px;
}

.mat-menu-content:not(:empty) {
  max-height: 250px;
}

.mat-form-field {
  width: 100%;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  top: unset !important;
}
