html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

.heading__4 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.8rem;
  color: $color-text-grey-2;
}

.heading__5 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.8rem;
  color: $color-text-grey-2;
}

@media (max-width: 1500px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 1270px) {
  html {
    font-size: 40%;
  }
}
