$primary-color: #2d98ff;
$secondary-color: #a54bff;

$color-text-dark-blue: #0b122e;
$color-text-grey-1: #3d4457;
$color-text-grey-2: #606675;
$color-text-grey-3: #878b97;
$color-text-grey-4: #fcfcfd;

$background-color-grey: #f4f5f8;
$background-color-light: #ffffff;

$border-color-grey-1: #e5e5e7;
$border-color-grey: #f1f1f4;
$box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.05);
