@import "../../../partials/variables";

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  &__header {
    display: flex;
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
    color: $color-text-grey-3;
    & > *:last-child {
      margin-left: auto;
    }
  }
}
.card {
  height: 100%;
  width: 100%;
  flex: 1;
  border-radius: 1rem;
  background: $background-color-light;
  box-shadow: $box-shadow;
  padding: 2rem;
}

.transaction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
  &__desc {
    display: flex;
    align-items: center;
  }
  &__img {
    width: 5rem;
    height: 5rem;
    border-radius: 0.4rem;
    background: $color-text-grey-3;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.5rem;
  }
  &__details {
    &--main {
      font-size: 1.4rem;
      font-weight: 500;
      color: $color-text-grey-2;
    }
    &--sub {
      font-size: 1.2rem;
      font-weight: 400;
      color: $color-text-grey-2;
    }
  }
  &__price {
    font-size: 1.8rem;
    font-size: 500;
    color: $color-text-dark-blue;
  }
}

.u-blue {
  background: #ebf5ff;
  color: $primary-color;
}
.u-gold {
  background: #fff9eb;
  color: #fcc22d;
}
.u-purple {
  background: #f8f1ff;
  color: $secondary-color;
}
