<div class="container">
  <header class="container__header">
    <h5 class="heading__5">Transactions</h5>
    <i class="fa fa-ellipsis-h"></i>
  </header>
  <div class="card" [class.is-relative]="isLoading">
    <app-global-loader
      *ngIf="isLoading; else content"
      [diameter]="40"
    ></app-global-loader>
    <ng-template #content>
      <div class="transaction" *ngFor="let transaction of transactions">
        <div class="transaction__desc">
          <div class="transaction__img u-{{ transaction.icon_color }}">
            <i class="fa fa-{{ transaction.icon_name }}"></i>
          </div>
          <div class="transaction__details">
            <div class="transaction__details--main">
              {{ transaction.name }}
            </div>
            <div class="transaction__details--sub">
              {{ transaction.date }}
            </div>
          </div>
        </div>
        <div class="transaction__price">
          -${{ transaction.price | number: ".1" }}
        </div>
      </div>
    </ng-template>
  </div>
</div>
