<header class="header">
  <div class="header__item-container">
    <div class="header__logo-box">
      <img
        src="assets/icon/gringo-logo-text.svg"
        alt="logo"
        class="header__logo"
      />
    </div>
    <div class="header__search-box">
      <div class="header__search-icon">
        <i class="fa fa-search"></i>
      </div>
      <input type="text" class="header__search-input" placeholder="Search" />
      <div class="header__search-icon">
        <i class="fa fa-microphone"></i>
      </div>
    </div>
  </div>
  <div class="header__item-container">
    <button class="btn btn--primary">Deposit</button>
    <div class="header__icon-box">
      <i class="fa fa-bell"></i>
    </div>
    <div class="header__user-box">
      <div class="header__image-box">
        <img
          src="assets/img/profile-1.jpg"
          alt="profile image"
          class="header__user-image"
        />
      </div>
      <div class="header__user-details">
        <p class="header__user-details--main">Sally M.</p>
        <p class="header__user-details--sub">Business Profile</p>
      </div>
    </div>
  </div>
  <div class="header__item-container--responsive">
    <div class="header__logo-box">
      <img
        src="assets/icon/gringo-logo-text.svg"
        alt="logo"
        class="header__logo"
      />
    </div>
    <div class="header__search-box">
      <div class="header__search-icon">
        <i class="fa fa-search"></i>
      </div>
      <input type="text" class="header__search-input" placeholder="Search" />
      <div class="header__search-icon">
        <i class="fa fa-microphone"></i>
      </div>
    </div>
    <div class="header__user-box">
      <div class="header__image-box">
        <img
          src="assets/img/profile-1.jpg"
          alt="profile image"
          class="header__user-image"
        />
      </div>
      <div class="header__user-details">
        <p class="header__user-details--main">Sally M.</p>
        <p class="header__user-details--sub">Business Profile</p>
      </div>
    </div>
  </div>
</header>
