@import "../../../partials/variables";

.header {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  &__item-container {
    display: flex;
    align-items: center;
    & > *:not(:last-child) {
      margin-right: 2.5rem;
    }

    &--responsive {
      display: none;
    }
  }

  &__logo-box {
  }

  &__logo {
    height: 4rem;
  }
  &__search-box {
    display: flex;
    align-items: center;
    background: $color-text-grey-4;
    border: 1px solid $border-color-grey-1;
    font-size: 1.6rem;
    font-weight: 500;
    color: $color-text-grey-3;
    border-radius: 1rem;
    width: 40rem;
  }

  &__search-input {
    border: unset;
    height: 4rem;
    background: unset;
    flex: 1;
  }

  &__search-icon {
    padding: 0 2rem;
  }

  &__icon-box {
    padding: 0 2rem;
    border-left: 1px solid $color-text-grey-4;
    border-right: 1px solid $color-text-grey-4;
    font-size: 2.2rem;
    color: $color-text-grey-3;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      height: 1.2rem;
      width: 1.2rem;
      background: $primary-color;
      border: 0.3rem solid #fff;
      border-radius: 50%;
      left: 52%;
    }
  }

  &__user-box {
    display: flex;
    align-items: center;
    & > *:not(:last-child) {
      margin-right: 2rem;
    }
  }
  &__image-box {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background: $color-text-grey-4;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__user-image {
    height: 4rem;
    width: 4rem;
    object-fit: cover;
    border-radius: 50%;
  }

  &__user-details {
    &--main {
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 1.6rem;
      color: $color-text-dark-blue;
    }
    &--sub {
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.6rem;
      color: $color-text-grey-3;
    }
  }
}

.btn {
  padding: 0.8rem 2.4rem;
  border: unset;
  box-shadow: unset;
  border-radius: 0.4rem;
  &--primary {
    background: $primary-color;
    color: $background-color-light;
  }
}

@media (max-width: 660px) {
  .header__item-container {
    display: none;
  }
  .header__item-container--responsive {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media (max-width: 490px) {
  .header__user-box {
    display: none;
  }
}
