<div class="side">
  <ul class="list">
    <li class="list__item active">
      <i class="fa fa-dashboard"></i>
    </li>
    <li class="list__item">
      <i class="fa fa-credit-card-alt"></i>
    </li>
    <li class="list__item">
      <i class="fa fa-database"></i>
    </li>
    <li class="list__item">
      <i class="fa fa-file-text"></i>
    </li>
    <li class="list__item">
      <i class="fa fa-group"></i>
    </li>
    <li class="list__item">
      <i class="fa fa-bullseye"></i>
    </li>
  </ul>

  <div class="list__item">
    <i class="fa fa-sign-out"></i>
  </div>
</div>
