@import "../../../partials/variables";

.side {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem 2rem;
}

.list {
  list-style: none;
  height: 100%;
  width: 100%;

  &__item {
    font-size: 2.4rem;
    text-align: center;
    color: $color-text-grey-3;
    cursor: pointer;
    &:nth-child(2) {
      font-size: 2.2rem;
    }
    &.active,
    &:hover {
      color: $primary-color;
    }
    &:not(:last-child) {
      margin-bottom: 4rem;
    }
  }
}
