/* You can add global styles to this file, and also import other style files */
@import "partials/variables";
@import "partials/base";
@import "partials/typography";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
