<div class="container">
  <header class="container__header">
    <h5 class="heading__5">Money Box</h5>
    <i class="fa fa-ellipsis-h"></i>
  </header>
  <div class="card" [class.is-relative]="isLoading">
    <app-global-loader
      *ngIf="isLoading; else content"
      [diameter]="25"
    ></app-global-loader>
    <ng-template #content>
      <div class="card__body">
        <div class="progress__header">
          <div class="progress__header--title">Progress</div>
          <div class="progress__header--value">64%</div>
        </div>
        <div class="progress__bar">
          <div class="progress__bar--value" [style.width]="width"></div>
        </div>
        <div class="progress__desc">
          Your money box in the process of filing ...
        </div>
      </div>
      <div class="card__action">
        <button class="btn__icon btn__icon--lg">
          <i class="fa fa-archive"></i>
        </button>
        <button class="btn__icon btn__icon--lg">
          <i class="fa fa-ellipsis-h"></i>
        </button>
      </div>
    </ng-template>
  </div>
</div>
