@import "../../../partials/variables";

$primary-color: #2d98ff;
$secondary-color: #a54bff;

$color-text-dark-blue: #0b122e;
$color-text-grey-1: #3d4457;
$color-text-grey-2: #606675;
$color-text-grey-3: #878b97;
$color-text-grey-4: #fcfcfd;

$background-color-grey: #f4f5f8;
$background-color-light: #ffffff;

$border-color-grey-1: #e5e5e7;
$border-color-grey: #f1f1f4;

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  &__header {
    display: flex;
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
    color: $color-text-grey-3;
    & > *:last-child {
      margin-left: auto;
    }
  }
}
.card {
  height: 100%;
  width: 100%;
  flex: 1;
  border-radius: 1rem;
  background: $background-color-light;
  box-shadow: $box-shadow;
  padding: 2rem;
  display: flex;
  align-items: center;
  &__body {
    flex-basis: 70%;
    padding-right: 2rem;
    border-right: 1px solid $border-color-grey-1;
  }
  &__action {
    flex-basis: 30%;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    & > *:not(:last-child) {
      margin-right: 2rem;
    }
  }
}

.progress {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.8rem;
    font-weight: 500;
    color: $color-text-grey-2;
    margin-bottom: 1.5rem;
    &--title {
    }
    &--value {
    }
  }
  &__bar {
    width: 100%;
    height: 1.2rem;
    border-radius: 1.5rem;
    border: 1px solid $border-color-grey-1;
    display: flex;
    align-items: center;
    padding: 0 0.2rem;
    margin-bottom: 1.5rem;
    &--value {
      transition: all 2s linear;
      background-color: #fcc22d;
      border-radius: 1.5rem;
      height: 0.6rem;
    }
  }

  &__desc {
    font-size: 1.4rem;
    font-weight: 400;
    color: $color-text-grey-3;
  }
}
