@import "../../../partials/variables";

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  &__header {
    display: flex;
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
    color: $color-text-grey-3;
    & > *:last-child {
      margin-left: auto;
    }
  }
}
.card {
  height: 100%;
  width: 100%;
  flex: 1;
  border-radius: 1rem;
  background: $background-color-light;
  box-shadow: $box-shadow;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  &__days {
    background: $color-text-grey-4;
    border: 1px solid $border-color-grey-1;
    font-size: 1.6rem;
    font-weight: 500;
    color: $color-text-grey-3;
    border-radius: 1rem;
    padding: 1.5rem;
  }
  &__dates {
    background: $color-text-grey-4;
    border: 1px solid $border-color-grey-1;
    font-size: 1.6rem;
    font-weight: 500;
    color: $color-text-grey-3;
    border-radius: 1rem;
    padding: 1.2rem;
  }
}
.chart {
  flex: 1;
  height: 20rem;
  min-height: 0;
  overflow: hidden;
  color: #a54bff5b;
}
