<div class="container">
  <header class="container__header">
    <h5 class="heading__5">Analytics</h5>
    <i class="fa fa-ellipsis-h"></i>
  </header>
  <div class="card" [class.is-relative]="isLoading">
    <app-global-loader *ngIf="isLoading; else content"></app-global-loader>
    <ng-template #content>
      <div class="filter">
        <select name="" id="" class="filter__days">
          <option value="1">1 Days</option>
          <option value="2">2 Days</option>
          <option value="3">3 Days</option>
          <option value="4">4 Days</option>
          <option value="5">5 Days</option>
        </select>
        <input type="date" class="filter__dates" />
      </div>
    </ng-template>
    <div class="chart">
      <canvas id="myChart"></canvas>
    </div>
  </div>
</div>
