@import "../../../partials/variables";

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  &__header {
    display: flex;
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
    color: $color-text-grey-3;
    & > *:last-child {
      margin-left: auto;
    }
  }
}
.card {
  height: 100%;
  width: 100%;
  flex: 1;
  border-radius: 1rem;
  background: $background-color-light;
  box-shadow: $box-shadow;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__header {
    display: flex;
    align-items: center;

    & > :not(:last-child) {
      margin-right: 3rem;
    }

    & > :last-child {
      margin-left: auto;
    }

    margin: 2rem;
    margin-bottom: unset;
    padding-bottom: 2rem;
    border-bottom: 1px dotted $border-color-grey-1;
  }

  &__body {
    padding: 2rem;
  }

  &__footer {
    border-top: 1px solid $border-color-grey-1;
    background: $color-text-grey-4;
    flex: 1;
    padding: 2rem;
    display: flex;
    align-items: center;
    & > :not(:last-child) {
      margin-right: 3rem;
    }
  }
}

.atm-card {
  height: 10rem;
  width: 15rem;
  border-radius: 1rem;
  &--primary {
    background-image: url(../../../assets/icon/card-overlay.svg),
      linear-gradient(to bottom, $primary-color, $primary-color);
    padding: 1.5rem;
  }
  &--secondary {
    background-image: url(../../../assets/icon/card-overlay.svg),
      linear-gradient(to bottom, $secondary-color, $secondary-color);
    padding: 1.5rem;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__heading {
    display: flex;
    justify-content: space-between;
  }

  &__desc {
    font-size: 1rem;
    line-height: 1rem;
    color: $background-color-light;
  }

  &__acc-no {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.4rem;
    color: $background-color-light;
  }

  &__logo {
  }

  &__details {
    &--main {
      font-size: 1.8rem;
      line-height: 1.6rem;
      font-weight: 600;
      color: $color-text-dark-blue;
    }
    &--sub {
      font-size: 1.2rem;
      line-height: 1.4rem;
      font-weight: 400;
      color: $color-text-grey-3;
      margin-bottom: 0.5rem;
    }
  }
}
.action {
  display: flex;
  align-items: center;
  & > *:not(:last-child) {
    margin-right: 2rem;
  }
}

.info {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 400;

  & > *:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  &__title {
    flex-basis: 40%;
    color: $color-text-grey-2;
  }
  &__desc {
    flex-basis: 60%;
    display: flex;
    align-items: center;
    color: $color-text-grey-3;
    & > *:not(:last-child) {
      margin-right: 0.7rem;
    }
    & img {
      height: 2rem;
    }
  }
  &__title-header {
    font-weight: 500;
    color: $color-text-dark-blue;
  }
  &__desc-header {
    text-align: right;
    display: block;
  }
}
