<div class="container">
  <header class="container__header">
    <h5 class="heading__5">My Cards</h5>
    <i class="fa fa-cog"></i>
  </header>
  <div class="card" [class.is-relative]="isLoading">
    <app-global-loader *ngIf="isLoading; else content"></app-global-loader>
    <ng-template #content>
      <div class="card__header">
        <div class="atm-card atm-card--primary">
          <div class="atm-card__heading">
            <div class="atm-card__acc-no">{{ myCard?.account_number }}</div>
            <div class="atm-card__logo"></div>
          </div>
          <div class="atm-card__desc">Card for Payment</div>
        </div>
        <div class="atm-card__details">
          <div class="atm-card__details--sub">Card Balance</div>
          <div class="atm-card__details--main">
            ${{ myCard?.payment_card_balance | number: ".2" }}
          </div>
        </div>
        <div class="action">
          <button class="btn__icon">
            <i class="fa fa-sticky-note"></i>
          </button>
          <button class="btn__icon">
            <i class="fa fa-ellipsis-h"></i>
          </button>
        </div>
      </div>
      <div class="card__body">
        <div class="info">
          <div class="info__title info__title-header">Information</div>
          <div class="info__desc info__desc-header">More details</div>
        </div>
        <div class="info">
          <div class="info__title u-text-dark">Status Carty:</div>
          <div class="info__desc">
            {{ myCard?.status }} (Expires in {{ myCard?.expires }}days)
          </div>
        </div>
        <div class="info">
          <div class="info__title u-text-dark">Name Card:</div>
          <div class="info__desc">{{ myCard?.card_name }}</div>
        </div>
        <div class="info">
          <div class="info__title u-text-dark">Type of Card:</div>
          <div class="info__desc">
            <img src="assets/icon/mc_symbol.svg" alt="card logo" />
            {{ myCard?.card_type }}
          </div>
        </div>
      </div>
      <footer class="card__footer">
        <div class="atm-card atm-card--secondary">
          <div class="atm-card__heading">
            <div class="atm-card__acc-no">{{ myCard?.account_number }}</div>
            <div class="atm-card__logo"></div>
          </div>
          <div class="atm-card__desc">Credit Card</div>
        </div>
        <div class="atm-card__details">
          <div class="atm-card__details--sub">Card Balance</div>
          <div class="atm-card__details--main">
            ${{ myCard?.credit_card_balance | number: ".2" }}
          </div>
        </div>
      </footer>
    </ng-template>
  </div>
</div>
